html {
   background: white;
   font-family: Tahoma, Helvetica, Arial, Sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin: 0 auto;
    position: relative; 
}

#backgroundImage{
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.searchBar {
    width: 70%;
    margin: 0 auto 1.5% auto;
    max-height: 10%;
    background-image: url('../images/Search-Bar.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
}

.logo {
    width: 6.5%;
    position: relative;
    margin: 1% 0 0 2%;
}

#logo {
    width: 100%;
    position: relative;
}

.hashtag {
    width: 25%;
    position: relative;
    margin: 2% 0 0 2.5%;
}

#hashtag {
    width: 100%;
    position: relative; 
}

.searchInput {
    width: 60%;
    position: relative;
    margin: 2% 2% 0 5%;
}

.inputText {
    position: relative;
    display: flex;
}

form {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top:0%;
}

input{
    color: #060e6b;
    margin: 0 auto;
    width: 70%;
    zoom: 100%; 
    background: transparent;
    border: none;
    font-size: 1.5vw;
    font-weight: 100;
    position:absolute;
    top:0%;
}

.searchButton {
    width: 25%;
    position: relative;
    margin: 0 0 0 0.75%;
    float: right;
}

.Static {
    position: relative;
    width: 100%;
    top:0%;
}

#searchStatic {
    position: relative;
    width: 100%;
}

#inputValue {
    position: relative;
    margin: 0 0 0 0;
    margin: 1.5% 0 0 0;
    outline: none;
    text-align: right;
    vertical-align:top;
}

#inputValue::placeholder {
    color: #21618C; 
}

.box > div {
    width: 70%;
    height: 37vw;
    margin: 1% auto;
    position: relative;
    box-shadow: 0 50px 100px 50px rgba(0, 0, 0, 0.03), 
        0 50px 100px 50px rgba(0, 0, 0, 0.03);
}

.name_area {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    text-shadow: 3px 3px 3px black ! important;
    font-size: 0.5vw;
    margin: 0 auto;
}

#overlay {
    width: 100%;
    position: absolute;
    margin: -11% 0 0 0;
    z-index: 19;
}
/* 
z indices:
zoom
greeting
transparent overlay
names
fin svg
background

*/

#greeting {
    position: absolute;
    width: 45%;
    margin: 7% 0 0 3%;
    z-index: 20;
}

.fin-image {
    z-index:17; 
    display:flex;
}

#finIMG {
    position:absolute;
    cursor: move;
}

#finNames {
    z-index: 18;
}

.namesHolder{
    width:auto;
    height:auto;
    cursor:move;
    position:relative;
    z-index:17;
}

.namesHolder .name{
    float: left;
    display:flex;
    z-index:17;
    position:relative;
    border-radius: 5%;
}

/** Multiple names scroll bar **/
.namesScrollBar {
    position: absolute;
    height:100%;
    width: 35%;
    z-index:20;
    overflow:auto;
    color: rgb(25,25,112);
    font-size: 250%;
    text-shadow: 1px 1px;
    background: rgba(245,245,245,0.9);
}

.searchQuery {
    margin: 5% 0 0 5%;
    font-size: 120%;
}


.namesScrollBar ul {
    list-style:none;
    width: 100%;
    padding:0;
    margin-top: 5%;
}

.namesScrollBar li {
    line-height:200%;
    text-align: left;
    padding-left: 15%;   
} 

li[class^="listBorder"] {
    list-style-position:inside;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

li[class^="listBorder"]:hover {
    border: 2px solid rgba(0,0,0,0.2);
}

.namesScrollBar #nameLink {
    text-decoration: none;
}

#nameLink, #nameLink:visited, #nameLink:active {
  color: inherit;
}

#nameLink:hover {
    color: #e67300;
    text-shadow: 1px 1px 1px #000;
}

/** Scroll bar style **/

#panel::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#panel::-webkit-scrollbar{
        width: 10px;
	background-color: #F5F5F5;
}

#panel::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,left bottom,left top,
	color-stop(0.44, rgb(122,153,217)),
	color-stop(0.60, rgb(73,125,189)),
	color-stop(0.86, rgb(28,58,148)));
}

.BottomBar {
    width: 70%;
    height: 12.5vw;
    margin: 1.5% auto;
    position: relative;
    border-radius: 0 0 1em 1em;
    background: rgba(0, 0, 128, 0.8);
    overflow:hidden;
}

.photoBanner {  
  width: 95%;
  position: relative;
  margin: 0 auto;
  overflow:hidden;
  height:60%;
}

#selfieText {
    position: relative;
    width: 25%;
    margin: 2% 0 0 2%;
}

.scroller {
    position: relative;
    margin: 0 auto;
    height:100%;
}

.innerScrollArea {
    position: relative;
    height:100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display:flex;
    -webkit-animation: bannermove 150s infinite; /* Safari 4.0 - 8.0 */
    animation: bannermove 150s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.innerScrollArea:hover{
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

#selfie {
    height:100%;
    top: 1%;
    opacity: 1.0;
}

/* animations */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bannermove {
    from {left: 100%;}
    to {left:-900%;}
}

@keyframes bannermove {
    from {left: 100%;}
    to {left:-900%;}
}


/** LIGHTBOX MARKUP **/
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 998;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.85);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
        height: 90vh;
	max-height: 90vw;
        text-align:center;
	margin-top: 3%;
        display:inline;
}

.lightbox:target img {
	animation: fadeInScale 0.75s ease-in-out;
}

@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.lightbox:target {
	/** Remove default browser outline */   
	outline: none;       
	/** Unhide lightbox **/
	display: block;
}


.previous {
  /**styling the left arrow**/
  z-index: 999;
  position: fixed;
  margin: 0 auto;
  left: 4px;
  top: 45%;
  width: 40px;
  font-size: 20pt;
  text-decoration: none;
  text-align: center;
  border-radius:20%;
  background: rgba(64,64,64,0.9);
  color: #ffffff;
}

.next {
  /**styling the right arrow**/
  z-index: 999;
  position: fixed;
  margin: 0 auto;
  right: 4px;
  top: 45%;
  width: 40px;
  font-size: 20pt;
  text-decoration: none;
  text-align: center;
  border-radius:20%;
  background: rgba(64,64,64,0.9);
  color: #ffffff;
}

.exit {
  /** styling the exit button **/
  z-index: 999;
  position: fixed;
  right: 4px;
  top: 4px;
  width: 40px;
  font-size: 20pt;
  text-decoration: none;
  border-radius:20%;
  background: rgba(64,64,64,0.9);
  color: #ffffff;
}

.previous:hover, .next:hover, .exit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/** END of Lightbox Markup **/